<!DOCTYPE html>
<html>

<head>
  <title>E-Commerce API</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <h4>E-Commercial API Logs</h4>
  <div class="container-fluid">
    <div class="row justify-content-start">
      <div class="col col-lg-4 p-0">
        <form action="/calculate" method="post">
          <div class="input-group">
            <label for="price"></label>
            <input type="number" class="form-control" placeholder="Lütfen fiyat artırımını giriniz..."
              aria-label="price" aria-describedby="basic-addon2" name="price">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" onclick="isLoad()">Hesapla</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <h5 class="my-3" id="is_load"><%= isLoad %></h5>
  <table class="table table-hover mt-4">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ürün ID</th>
        <th scope="col">Ürün Kodu</th>
        <th scope="col">Ürün Adı</th>
        <th scope="col" style="width: 4vw;">KDV</th>
        <th scope="col">SK Fiyat</th>
        <th scope="col">Fiyat Artışı</th>
        <th scope="col">Artırılmış Fiyat</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i<result.length; i++) {%>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td><%= result[i].UrunID['_text'] %> </td>
          <td><%= result[i].Kod['_cdata'] %> </td>
          <td><%= result[i].Baslik['_cdata'] %> </td>
          <td><%= result[i].KDV['_text'] %>  %</td>
          <td>₺ <%= result[i].skfiyat['_text'] %></td>
          <td>₺ <%= result[i].inputPrice %></td>
          <td>₺ <%= result[i].changedPrice %></td>
        </tr>
      <% } %>
    </tbody>
  </table>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>
<script>
  const isLoad = () => {
    document.getElementById('is_load').innerHTML = "Lütfen Bekleyiniz..."
  }
</script>
